@model List<NewsPH.Models.News>

@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1 class="display-4 text-center">Welcome to News PH</h1>
    <p class="text-center">Get the updated news in the Philippines</p>

</section>
