@model NewsPH.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<section>
    <h2 class="text-center">Sign In</h2>

    <form method="post" asp-action="Login" asp-controller="Account" class="container-sm">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label class="form-label" asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="RememberMe">
            <label class="form-check-label" asp-for="RememberMe"></label>
        </div>

        <input type="submit" value="Login" class="btn btn-primary d-block ml-auto" />
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}