@model IEnumerable<NewsPH.Models.NewsCategory>

@{
    ViewData["Title"] = "News category";
}

<section>
    @if (Model.Count() > 1)
    {
        <table class="table table-primary p-3">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Menu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                { 
                <tr>
                    <th>@category.Name</th>
                    <td class="d-flex">
                        <a class="btn btn-primary mr-2" asp-controller="NewsCategory" asp-action="Update" asp-route-Id="@category.Id">Update</a>
                        <form method="post" asp-controller="NewsCategory" asp-action="Delete">
                            <input type="hidden" value="@category.Id"/>
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    
</section>