@model IEnumerable<NewsPH.Models.News>

@{
    ViewData["Title"] = "News";
}

<section>
    <h1 class="text-center">News</h1>

    @if (Model.Count() > 0)
    {
        foreach (var news in Model)
        { 
            <div class="card" style="width: 18rem;">
                <img src="~/news-image/@news.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@news.Title</h5>
                    <p class="card-text">@news.Content</p>
                    <span class="d-block text-sm-left fw-light mb-2">@news.Date</span>
                    <a asp-controller="News" asp-action="Update" asp-route-Id="@news.Id" class="btn btn-primary">Update</a>
                </div>
            </div>
        }
    }
</section>