@model NewsPH.Models.ViewModels.UpdateNewsViewModel

@{
    ViewData["Title"] = "Create news";
}

<section>
    <h1 class="text-center">Create a news</h1>
    <form asp-controller="News" asp-action="Update" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="All"></div>

        <input type="hidden" asp-for="News.Id" />

        <div>
            <img src="~/news-image/@Model.News.Image" class="news-image" />
        </div>

        <div class="mb-3">
            <label asp-for="ImageFile" class="form-label"></label>
            <input class="form-control" asp-for="ImageFile" onchange="onChangeImage(event)">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="News.Title"></label>
            <input asp-for="News.Title" class="form-control" />
            <span asp-validation-for="News.Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="News.Content" class="form-label"></label>
            <textarea class="form-control" asp-for="News.Content" rows="3"></textarea>
            <span asp-validation-for="News.Content" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="News.NewsCategoryId" class="form-label"></label>
            <select class="form-control" aria-label="Default select example" asp-for="News.NewsCategoryId" asp-items="@Model.NewsCategories">
                <option selected value="">Select category</option>
            </select>
            <span asp-validation-for="News.NewsCategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="News.Date"></label>
            <input asp-for="News.Date" class="form-control" />
            <span asp-validation-for="News.Date" class="text-danger"></span>
        </div>

        <input type="submit" value="Update" class="btn btn-primary d-block ms-auto" />
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}